<%include header.ejs%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bmoren/p5.collide2D/p5.collide2d.min.js"></script>
<div class="container">
        <a href="./" class="btn btn-primary">Back to home </a>
        <br>
        <p></p>
    </div>

<script src="../js/dino/main.js"></script> 
<script src="../js/dino/dino.js"></script> 
<script src="../js/dino/pipe.js"></script> 


<%include footer.ejs%>
