<%include header.ejs%>


<video id="video" width="720" height="560" autoplay muted> </video>
<!-- <button onclick="loopEmo()">Try it</button> -->

<p id="demo"></p>


<h1 id="randomEm"></h1>


<!-- lib -->
<script defer src="../js/face_api/face-api.min.js"></script>
<script defer src="../js/face_api/emoji.js"></script>
<!-- main -->
<script defer src="../js/face_api/main.js"></script>




<%include footer.ejs%>