<%include header.ejs%>

<div class="container">
    <a href="./" class="btn btn-primary">Back to home </a>
    <br>
    <p></p>
</div>

<script src="../js/flappy/bird.js"></script> 
<script src="../js/flappy/flappy.js"></script> 
<script src="../js/flappy/pipe.js"></script> 


<%include footer.ejs%>
