<%include header.ejs%>



<div class="container">
  <div class="list-group">
    <a href="./app.ejs" class="list-group-item">Noraml one</a>
    <a href="./web-cam.ejs" class="list-group-item">Web-Cam Testing</a>
    <a href="./train-db.ejs" class="list-group-item">Train </a>

    <a href="./trained-regress.ejs" class="list-group-item">Train-regress <span style="color:green">- After the training the  object will follow you</span></a>

    <a href="./save-load.ejs" class="list-group-item">Train-save-load <span style="color:green">-already model inside which are Bottle and iPhone</span> </a>

    <a href="./knn.ejs" class="list-group-item">Knn Logic <span style="color:green">- More accurate than the method above</span></a>

    <a href="./knn-model.ejs" class="list-group-item">Knn Logic <span style="color:green">- Game demo<span style="color:coral">Still in process</span></span></a>

    <a href="./running.ejs" class="list-group-item">Game  <span style="color:green">- Running with key <span style="color:coral">Still in process</span></span></a>

    <a href="./flappy.ejs" class="list-group-item">Game Flap/Clappy  <span style="color:green">- Enjoy <span style="color:coral"> Still in process</span></span></a>

    <a href="./game_test.ejs" class="list-group-item">Game-Sprite  <span style="color:green">- Enjoy <span style="color:coral"> Still in process</span></span></a>
    
    <a href="./dino.ejs" class="list-group-item">Game Dino/Clappy  <span style="color:green">- Testing this is in OOP style <span style="color:coral"> Still in process</span></span></a>



    


  </div>

</div>

<%include footer.ejs%>
