<%include header.ejs%>


<div class="container">
        <a href="./" class="btn btn-primary">Back to home </a>
        <br>
        <p></p>
    </div>

<script src="./js/knn-save-load.js"></script> 


<%include footer.ejs%>
