<%include header.ejs%>
<div class="container">
    <a href="./" class="btn btn-primary">Back to home </a>
    <br>
    <p>Have fun with your first test of machine training</p>
</div>
<script src="../js/trained-db.js"></script> 
<%include footer.ejs%>