<%include header.ejs%>
<div class="container">
    <a href="./" class="btn btn-primary">Back to home </a>
    <br>
    <p></p>
</div>
<script src="./js/trained-regress.js"></script>

<%include footer.ejs%>